.texto {
    font-family: 'Trebuchet MS';
    color: #fffc;
}

h4 {
    text-align: center;
    color: #fff;
}

.parrafo {
    margin-left: 10rem;
}

.subclase {
    margin-left: 3rem;
}

iframe {
    width: 80%;
    height: 100vh;
    margin: auto;
    border: 3px solid #ffffff80;
    border-radius: 25px;
}