iframe {
    margin-top: 2rem;
    margin-left: 3rem;
    width: 90%;
    height: 100vh;
    border: 3px solid #ffffff80;
    border-radius: 25px;
}

.boton {
    display: none;
}

/*------------------------ MEDIA QUERIES ------------------------ */
/* TABLET */

@media all and (max-width: 992px) {
    iframe {
        display: none;
    }

    .boton {
        font-family: 'Poppins';
        display: flex;
        font-size: 20px;
        width: 8rem;
        height: 4rem;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        background-color: #ffffff80;
        padding: 3px;
    }

    .boton>a {
        color: #000;
        font-weight: bold;
    }
}
