.cards {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin: auto;
}

.cards .tarjeta {
    width: 320px;
    height: 430px;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    background-color: #ccc;
    border: 2px white solid;
    box-shadow: 1px 4px 10px #ccc;
    font-family: 'Poppins';
}

.cards .tarjeta img {
    width: 320px;
    height: 220px;
    
}