.texto {
    font-family: 'Trebuchet MS';
    color: #fffc;
}

h3 {
    margin-left: 5rem;
    color: #fff;
}

.parrafo {
    margin-left: 10rem;
}

.subtitulo {
    padding: 0;
}

/*------------------------ MEDIA QUERIES ------------------------ */

/* TABLET */
@media all and (max-width: 992px) {
    h3 {
        margin: 0;
        text-align: center;
        font-size: 2rem;
    }

    .parrafo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 2rem;
        margin: 10px;
    }
}

/* MOBILE */
@media all and (max-width: 767px) {
    .parrafo {
        font-size: 1.3rem;
    }
}